h1{
    color: firebrick;
    text-align: center;
}

#diceCanvas{
    border: double;
    border-color: black;
    border-width: 10px;
}

#upperScoreCardTable, #lowerScoreCardTable{
    border: 5px double;
    border-color: black;

}

th, td{
    padding: 5 px;
    border: solid;
    border-width: 1 px;
    border-color: black;
}

#leftSpacer{
    box-sizing: border-box;;
    width: 20%
}

#gameControlColumn{
    box-sizing: border-box;
    width: auto;
}

#scoreCardColumn{
    box-sizing: border-box;
    width: auto;
}



.howToScore{
    text-align: center;
    font-size: x-small;
}

.block1{

    height: 500px;
}

.block1:before{
    content: "";
    display: inline-block;
    vertical-align: top;
    height:  100%;
}

.ib{
    display: inline-block;
    vertical-align: top;
}

#column1, #column5{
    width: 200px;
}

#column2, #column6{
    width: 100px;
}

.dieBtn{
    width: 110px;
    height: 50px;
}
#rollDiceBtn, #newGameBtn, #stopeAndScoreBtn{
  height: 50px;
}